.site-footer-links a {
    margin-right: 10px;
    color: white;
    text-decoration:none;
}

.site-footer-links a:hover {
    margin-right: 10px;
    color: orange;
}



.site-footer-links {
    background: #222;
    text-align: center;
    padding: 30px;
    border-top: 1px solid #F7AA62;
    box-shadow: 0 -4px 3px rgba(0,0,0,0.15);
}
.site-footer {
    position: relative;
}

.footer-wrap {
    overflow: hidden;
   /* font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
